<ion-view title="Amanda Beatriz" id="page2">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-assertive icon ion-alert"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="amandaBeatriz-form3" class="list">
      <div class="list card" id="amandaBeatriz-card21">
        <ion-item class="item-thumbnail-left" id="amandaBeatriz-list-item18">
          <img src="img/Rb4rJW6XTHiHzhmnnn7n_beta.jpg">
          <h2>Idade : 32</h2>
          <p>Sexo: Feminino</p>
        </ion-item>
        <div class=" item item-image">
          <img src="img/VbrmrLoRRTGtS5Uk4DN6_esteira-com-monitor-cardiaco.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="item item-body" id="amandaBeatriz-list-item-container3">
          <div id="amandaBeatriz-markdown5" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Batimentos
              <strong>Cardíacos</strong>
            </p>
          </div>
        </div>
        <ion-item class="item-icon-left assertive" id="amandaBeatriz-list-item19">
          <i class="icon ion-alert"></i>Atenção</ion-item>
      </div>
      <div class="spacer" style="width: 300px; height: 17px;"></div>
    </form>
    <form id="amandaBeatriz-form5" class="list">
      <ion-toggle toggle-class="toggle-balanced" id="amandaBeatriz-toggle7">Verficar Batimentos</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="amandaBeatriz-toggle9">Verficar Remédios</ion-toggle>
      <label class="item item-input item-stacked-label" id="amandaBeatriz-input3">
        <span class="input-label">Observações</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 23px;"></div>
      <ion-checkbox id="amandaBeatriz-checkbox3" name="Remédio 1">Remédio 1</ion-checkbox>
      <ion-checkbox id="amandaBeatriz-checkbox4" name="Remédio 2">Remédio 2</ion-checkbox>
      <ion-checkbox id="amandaBeatriz-checkbox5" name="Remédio 3">Remédio 3</ion-checkbox>
    </form>
  </ion-content>
</ion-view>