<ion-view title="Ana Alice" id="page10">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-balanced icon ion-checkmark"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="anaAlice-form9" class="list">
      <div class="list card" id="anaAlice-card22">
        <ion-item class="item-thumbnail-left" id="anaAlice-list-item10">
          <img src="img/PR5NdAGsSnmf6iWAGZ8H_dea.jpg">
          <h2>Idade : 27</h2>
          <p>Sexo: Feminino</p>
        </ion-item>
        <div class=" item item-image">
          <img src="img/VbrmrLoRRTGtS5Uk4DN6_esteira-com-monitor-cardiaco.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="item item-body" id="anaAlice-list-item-container5">
          <div id="anaAlice-markdown7" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Batimentos
              <strong>Cardíacos</strong>
            </p>
          </div>
        </div>
        <ion-item class="item-icon-left balanced" id="anaAlice-list-item11">
          <i class="icon ion-checkmark"></i>Normal</ion-item>
      </div>
      <div class="spacer" style="width: 300px; height: 17px;"></div>
    </form>
    <form id="anaAlice-form10" class="list">
      <ion-toggle toggle-class="toggle-balanced" id="anaAlice-toggle14">Verficar Batimentos</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="anaAlice-toggle15">Verficar Remédios</ion-toggle>
      <label class="item item-input item-stacked-label" id="anaAlice-input11">
        <span class="input-label">Observações</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 23px;"></div>
      <ion-checkbox id="anaAlice-checkbox6" name="Remédio 1">Remédio 1</ion-checkbox>
      <ion-checkbox id="anaAlice-checkbox7" name="Remédio 2">Remédio 2</ion-checkbox>
      <ion-checkbox id="anaAlice-checkbox8" name="Remédio 3">Remédio 3</ion-checkbox>
    </form>
  </ion-content>
</ion-view>