<ion-view title="Bruno Henrique" id="page13">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-assertive icon ion-alert"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="brunoHenrique-form13" class="list">
      <div class="list card" id="brunoHenrique-card24">
        <ion-item class="item-thumbnail-left" id="brunoHenrique-list-item14">
          <img src="img/smh4IWBUR0OTBVhY6c6u_53395d2524d98029a9b3b81a6bdc60765942bbed163e5.jpg">
          <h2>Idade : 39</h2>
          <p>Sexo: Masculino</p>
        </ion-item>
        <div class=" item item-image">
          <img src="img/VbrmrLoRRTGtS5Uk4DN6_esteira-com-monitor-cardiaco.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="item item-body" id="brunoHenrique-list-item-container7">
          <div id="brunoHenrique-markdown9" class="show-list-numbers-and-dots">
            <p style="margin-top:0px;color:#000000;">Batimentos
              <strong>Cardíacos</strong>
            </p>
          </div>
        </div>
        <ion-item class="item-icon-left assertive" id="brunoHenrique-list-item15">
          <i class="icon ion-alert"></i>Atenção</ion-item>
      </div>
      <div class="spacer" style="width: 300px; height: 17px;"></div>
    </form>
    <form id="brunoHenrique-form14" class="list">
      <ion-toggle toggle-class="toggle-balanced" id="brunoHenrique-toggle18">Verficar Batimentos</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="brunoHenrique-toggle19">Verficar Remédios</ion-toggle>
      <label class="item item-input item-stacked-label" id="brunoHenrique-input13">
        <span class="input-label">Observações</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 23px;"></div>
      <ion-checkbox id="brunoHenrique-checkbox12" name="Remédio 1">Remédio 1</ion-checkbox>
      <ion-checkbox id="brunoHenrique-checkbox13" name="Remédio 2">Remédio 2</ion-checkbox>
      <ion-checkbox id="brunoHenrique-checkbox14" name="Remédio 3">Remédio 3</ion-checkbox>
    </form>
  </ion-content>
</ion-view>