<ion-view title="Informações do Sistema" id="page11">
  <ion-content padding="true" class="has-header">
    <h4 id="informaEsDoSistema-heading1" style="color:#000000;text-align:center;">Protótipo Desenvolvido por</h4>
    <div id="informaEsDoSistema-markdown12" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Thiago Fernando Procorio</p>

      <p style="color:#000000;">C.S.T. em Análise e Desenvolvimento de Sistemas Univag
      </p>

      <p style="color:#000000;"> Contato: thiago.fernando@msn.com</p>
    </div>
  </ion-content>
</ion-view>