<ion-view title="Login" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="login-form6" class="list">
      <ion-list id="login-list3">
        <label class="item item-input" id="login-input4">
          <span class="input-label">Login</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="login-input5">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="pacientes()" id="login-button1" class="button button-balanced button-block">Log in</a>
      <a ui-sref="registrar()" id="login-button2" class="button button-positive button-block button-clear">Crie a sua conta aqui.</a>
    </form>
    <div style="margin-right:-20px;">
      <a ui-sref="informaEsDoSistema()" id="login-button6" style="left:-10px;" class="button button-stable button-full button-clear icon ion-android-alert"></a>
    </div>
  </ion-content>
</ion-view>