<ion-view title="Pacientes" id="page1">
  <ion-content padding="true" class="has-header">
    <ion-list id="pacientes-list2">
      <label class="item item-input" id="pacientes-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Digite o Nome do Paciente">
      </label>
      <ion-item class="item-thumbnail-left item-icon-right assertive" id="pacientes-list-item2" ui-sref="amandaBeatriz()">
        <img src="img/XZpXXPnrRHoKKoN54rgO_beta.jpg">
        <h2assertive>Amanda Beatriz
          <i class="icon ion-alert-circled"></i>
        </h2assertive>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right balanced" id="pacientes-list-item3" ui-sref="anaAlice()">
        <img src="img/78wfq0r6RwCB53EAlEKj_dea.jpg">
        <h2balanced>Ana Lice
          <i class="icon ion-checkmark"></i>
        </h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right balanced" id="pacientes-list-item4" ui-sref="ingridMaria()">
        <img src="img/AK88lHHUS9udCn3lPMBb_images.jpg">
        <h2balanced>Ingridi Maria
          <i class="icon ion-checkmark"></i>
        </h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right assertive" id="pacientes-list-item5" ui-sref="brunoHenrique()">
        <img src="img/TulQoCJaTRuCkRVrZuxc_53395d2524d98029a9b3b81a6bdc60765942bbed163e5.jpg">
        <h2assertive>Bruno Henrique
          <i class="icon ion-alert-circled"></i>
        </h2assertive>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right balanced" id="pacientes-list-item6" ui-sref="caioAugusto()">
        <img src="img/E2VIjbyEQi6GVlNzgPxg_COMO-ESCOLHER-FOTO-DE-PERFIL-HOMEM-6.jpg">
        <h2balanced>Caio Augusto
          <i class="icon ion-checkmark-round"></i>
        </h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right balanced" id="pacientes-list-item7" ui-sref="marcosVinCius()">
        <img src="img/CNr335eHTMiXPsfgNPhL_COMO-ESCOLHER-FOTO-DE-PERFIL-HOMEM-9.jpg">
        <h2balanced>Marcos Vinicios
          <i class="icon ion-checkmark"></i>
        </h2balanced>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>