<ion-view title="Registrar" id="page9">
  <ion-content padding="true" class="has-header">
    <form id="registrar-form7" class="list">
      <button id="registrar-button5" class="button button-light button-block button-icon">Seus Dados</button>
      <ion-list id="registrar-list4">
        <label class="item item-input" id="registrar-input6">
          <span class="input-label">Nome</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="registrar-input9">
          <span class="input-label">Idade</span>
          <input type="number" placeholder="">
        </label>
        <label class="item item-input" id="registrar-input10">
          <span class="input-label">Telefone</span>
          <input type="tel" placeholder="">
        </label>
        <label class="item item-input" id="registrar-input7">
          <span class="input-label">E-mail</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="registrar-input8">
          <span class="input-label">Senha</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="width: 300px; height: 23px;"></div>
      <button id="registrar-button4" class="button button-light button-block button-icon">Tipo de Conta</button>
      <ion-toggle toggle-class="toggle-energized" id="registrar-toggle10">Médico</ion-toggle>
      <ion-toggle toggle-class="toggle-energized" id="registrar-toggle11">Paciente</ion-toggle>
      <a ui-sref="login()" id="registrar-button3" class="button button-balanced button-block">Salvar</a>
      <div style="margin-right:-20px;">
        <a ui-sref="informaEsDoSistema()" id="registrar-button7" style="left:-10px;" class="button button-stable button-full button-clear icon ion-android-alert"></a>
      </div>
    </form>
  </ion-content>
</ion-view>